h1{
    display: block;
    text-align: center;
    width: 100%;
}

body{
    z-index: 10;
}
.imagesTable{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    display: table;
}

.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btnZoom{
    cursor: pointer;
    z-index: 9999;
}

.btnZoom img{
    width: 5%;
    
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btnLeft img{
    position: fixed;
    bottom: 0;
    left: 0;
}

.btnRight img{
    position: fixed;
    bottom: 0;
    right: 0;
}
.mediaSize{
    width: 70%;
}

.checkBoxes{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.hidden{
    visibility: hidden;
    display: none;
}

.bwFilter{
    filter: grayscale(100%);
}

.loadingImages{


    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.loadingImages img{
    width: 10%;
    text-align: center;
    margin-right: 15px;
}