h1{
    display: block;
    text-align: center;
    width: 100%;
}

body{
    z-index: 10;
}
.imagesTable{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

.buttons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btnZoom{
    cursor: pointer;
    z-index: 9999;
}

.btnZoom img{
    width: 5%;
    
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.btnLeft img{
    position: fixed;
    bottom: 0;
    left: 0;
}

.btnRight img{
    position: fixed;
    bottom: 0;
    right: 0;
}
.mediaSize{
    width: 70%;
}
